*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./imgs/river_image.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}